fastapi==0.122.0
uvicorn==0.38.0
pydantic==2.12.5
python-multipart
demucs==4.0.1
aiofiles
essentia==2.1b6.dev1389
matchering==2.0.6
numpy==1.26.4
typing_extensions==4.15.0
pedalboard
pyrubberband
soundfile
